#define CTA_API_KEY "yourkey" // get key at: http://www.transitchicago.com/developers/traintrackerapply.aspx
#define CTA_STOP_ID "30282" // download zip of stops: http://www.transitchicago.com/developers/ttdocs/#_Toc296199909
#define CTA_STOP_NAME "Brown Ln to Loop"
#define SCRIPT_PATH "/root/cta.py" // path to Linux-side script
#define MINUTES_DELIMETER " " // display train times with space in between
#define START_MESSAGE "Starting..."

#define BUTTON_PIN A0
#define LCD_PINS 2,3,4,5,6,7
#define LCD_BACKLIGHT_PIN 8

#define SHOW_RESULTS_DELAY 5000
#define BUTTON_DEBOUNCE_DELAY 5
